<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automotive App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('complaint') }}">Warranty Complaint</a>
        <a href="{{ url_for('feedback') }}">Customer Feedback</a>
        <a href="{{ url_for('improvements_view') }}">Improvements</a> 
        {% if 'username' in session %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
